<ion-header>
  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<li *ngFor="let item of ('demo' | getData | async)">{{item.tr}} 1</li>
<li *ngFor="let item of 'sports' | getData">{{item.tr}} 2</li>
</ion-content>
