page-user {
    .logo {
        padding: 20px 0;
        min-height: 200px;
        text-align: center;
        img {
            max-width: 150px;
        }
    }
    .list {
        margin-bottom: 0;
    }
}
