<div *ngIf="un.size(items)">
  <ion-list class="accordion-list" *ngFor="let sport of un.values(un.groupBy(items, 'sport_id'))">
    <ion-list-header no-padding *ngIf="sport[0].sport">
      <button ion-item detail-none [style.background]="headerColor" (click)="expanded[sport[0]?.sport_id] = !expanded[sport[0]?.sport_id]" class="accordion-header"
        [class.active]="expanded[sport[0]?.sport_id]">
        <span item-right>{{un.size(sport)}}</span>
        <ion-icon item-right name="ios-arrow-forward">
        </ion-icon>
        {{ sport[0].sport?.tr }} - {{ sport[0].sport_id }}
      </button>
      <section *ngIf="expanded[sport[0]?.sport_id]" [style.background]="contentColor" [class.active]="expanded[sport[0]?.sport_id]"
        class="accordion-content">




        <div *ngFor="let matches of sport; let i = index">
          <div *ngIf="i<5" class="match-item">
            <ion-row>
              <ion-col no-padding col-md-4 col-12>

                <ion-row>
                  <ion-col no-padding col-12>
                    <ion-note class="note-cat">
                      <span class="note-cat-title">{{matches?.category.tr}} / {{matches?.tournament.tr}}</span>
                    </ion-note>
                  </ion-col>
                  <ion-col no-padding col-12>
                    <ion-row class="mt-5">
                      <ion-col no-padding col-9>
                        <h4 class="team-title">{{matches.teams?.home.tr}}</h4>
                      </ion-col>
                      <ion-col no-padding col-3>
                        <h4 class="team-score">0</h4>
                      </ion-col>
                    </ion-row>
                    <ion-row class="mt-5">
                      <ion-col no-padding col-9>
                        <h4 class="team-title">{{matches.teams?.away.tr}}</h4>
                      </ion-col>
                      <ion-col no-padding col-3>
                        <h4 class="team-score">0</h4>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-col no-padding col-12>
                  <ion-note class="note-time-title">x saat sonra</ion-note>
                </ion-col>
              </ion-col>

              <ion-col no-padding col-md-7 col-11>
                <div *ngFor="let market of un.values(matches?.markets) let i = index">
                  <ng-container *ngIf="!i">
                    <ion-row>
                      <ion-col no-padding col-9>
                        <span class="market-name">{{market?.typeid | langsFilter:3:'prematch'}}</span>
                      </ion-col>
                      <ion-col no-padding col-3>
                        <span class="coupon-chance">Bozdur</span>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col no-padding class="col-md-4 col-lg-6" *ngFor="let odd of market?.odds">
                        <div role="button" (click)="ACP?.bakBanaCoupon(matches, market?.id, odd, 0)" class="live odds-up font-12">
                          <div class="">
                            <span class="odd-title selection" [class.active]="state.CCT[market.id]?.odd.type == odd.type">
                                {{odd['typeid'] | langsFilter:4:'prematch'}}
                            </span>
                            <div class="odds-value">
                              <span>
                                {{odd.value}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ng-container>


                </div>


              </ion-col>
              <ion-col col-1 align-self-center>
                <span class="plus-button">+ {{matches?.market_total}} </span>
              </ion-col>

            </ion-row>

          </div>

        </div>
        <button
        (click)="GP.navPush('sport', sport[0].sport.id)"
        ion-button full outline color="dark" default>Daha Fazla {{sport[0].sport?.tr}}</button>
      </section>
    </ion-list-header>
  </ion-list>



</div>
