root-menu {
    .tepe.logo {
        background: url(../assets/theme/logo.png);
        width: 154px;
        height: 48px;
        position: relative;
        z-index: 1;
        margin: 0;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
    }
    ion-title .logo-inc {
        text-align: -webkit-center;
    }
    title.hide {
        display: none;
    }
}
