<ion-navbar color="dark"> 
  <button ion-button icon-only menuToggle="left">
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title text-center>
      <div class="title hide">Sports</div>
    <div class="logo-inc">
    <div class="tepe logo">
      <div class="shine"></div>
    </div>
    </div>
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only menuToggle="right">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>