<div>
  <div *ngFor="let cat of ('precat'|getPreData|async) let i = index" class="accordion-list">
    <div class="" no-padding *ngIf="PreCounts?.categories[cat.id]" style="border-bottom: 1px solid grey;">
      <button ion-item detail-none [style.background]="headerColor" (click)="expanded[cat.id] = !expanded[cat.id]" class="accordion-header"
        [class.active]="expanded[cat.id]">
        <span item-right>{{PreCounts?.categories[cat.id]}}</span>
        <ion-icon item-right name="ios-arrow-forward">
        </ion-icon>
        {{ cat.id | langsFilter:1 }}
      </button>

    </div>
    <section *ngIf="expanded[cat.id]" [style.background]="contentColor" [class.active]="expanded[cat.id]"
      class="accordion-content">

      <div *ngFor="let matches of ('pretour'|getPreData:cat.id|async); let i = index" class="">
        <div class="match-item bet-status-{{matches?.betstatus}} bet-active-{{matches?.active}}">
            <div class="dismenu">
                <button color="light" ion-button small (click)="GP.navPush('preid', matches.matchid)"> + {{matches?.market_total}}</button>
            </div>
          <div class="row">
            <div class="col-md-4 br-1"  (click)="GP.navPush('preid', matches.matchid)">

              <div class="row">
                <div class="col-md-12">
                  <ion-note class="">
                    <span class="note-title">{{matches?.category_id | langsFilter:1}} / {{matches?.tournament_id | langsFilter:2}}</span>

                  </ion-note>
                </div>
                <div class="col-md-12">
                  <div class="mt-5 row">
                    <div class="col-9">
                      <h4 class="team-title">{{matches.teams?.home | langsFilter:5}}</h4>
                    </div>
                    <div class="col-3">
                      <h4 class="team-score">{{matches?.score.split(':')[0]}}</h4>
                    </div>
                  </div>
                  <div class="mt-5 row">
                    <div class="col-9">
                      <h4 class="team-title">{{matches.teams?.away | langsFilter:5}}</h4>
                    </div>
                    <div class="col-3">
                      <h4 class="team-score">{{matches?.score.split(':')[1]}}</h4>
                    </div>
                  </div>
                </div>
              </div>


              <ion-note class="">Canlı {{matches?.matchtime}} dk. {{matches?.status | langsFilter:6}}
                <span style="font-weight:600;float: right;color: green;padding-right:5px;">Score: {{matches?.score}} </span>
                <span hidden>{{matches?.msgnr}} - {{matches?.betstatus}} - {{matches?.active}}</span>
              </ion-note>

            </div>

            <div class="market-list col-md-8">
              <div class="row">
                <div class="market-item col-md-6 col-xs-12 br-1" *ngFor="let market of (matches?.markets|getLiveData:'market:filter'); let i = index">
                  <ng-container *ngIf="un.size(market?.odds) < 4">

                    <div class="note-title">
                      <span class="market-name">{{market?.typeid | langsFilter:3:'prematch':market?.subtype}}</span>

                      <span class="coupon-chance">{{market?.active}}/{{market?.typeid}},{{market?.subtype}}/{{market?.sbv}} </span>
                    </div>

                    <div class="row odds-list market-active-{{market?.active}}">
                      <div class="col-4 col-md-4 odd-item" [class.col-md-6]="un.size(market?.odds) == 2" *ngFor="let odd of market?.odds">
                        <div role="button" (click)="ACP?.bakBanaCoupon(matches, market?.id, odd, 0)" class="live odds-up font-12">
                          <div class="">
                            <span class="odd-title selection" [class.active]="state.CCT[market.id]?.odd.type == odd.type">
                              {{odd['typeid'] | langsFilter:4:'prematch'}}
                            </span>
                            <div class="odds-value">
                              <span>
                                {{odd.value}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>


                </div>
              </div>

            </div>

            <button hidden (click)="GP.navPush('preid', matches.matchid)" ion-button full outline color="light" default>Tüm Oranlar
              <span end> + {{matches?.market_total}} </span>
            </button>


          </div>
        </div>
      </div>

      <button (click)="GP.navPush('categoryid', cat.id)" ion-button full outline color="dark" default>
        <span end> Tümü {{cat.tr}} ({{PreCounts?.categories[cat.id]}}) </span>
      </button>

    </section>
  </div>








</div>
