<ion-content padding>

  <div>
    <ion-slides>

      <ion-slide style="background-color: green;">


      </ion-slide>

      <ion-slide style="background-color: blue">
      </ion-slide>

      <ion-slide style="background-color: red">

      </ion-slide>

    </ion-slides>
  </div>

  <ion-scroll scrollX="true" class="scroll-slide">

    <ion-card>
      <div class="card-title">Canlı</div>
    </ion-card>

    <ion-card>
      <div class="card-title">Bahis</div>
    </ion-card>

    <ion-card>
      <div class="card-title">Casino</div>
    </ion-card>

    <ion-card>
      <div class="card-title">Yakında</div>
    </ion-card>
    <ion-card>
      <div class="card-title">Yakında</div>
    </ion-card>


  </ion-scroll>

  <ion-scroll scrollX="true" class="scroll-slide">
  </ion-scroll>

</ion-content>
