page-home {
    .scroll-slide {
      height: auto;
      min-height: 150px;
      max-height: 200px;
      white-space: nowrap;
        .scroll-content{
          padding: 0 !important;
        }
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
    ion-card {
        position: relative;
        text-align: center;
        width: 100% !important;
        margin: 5px !important;
        max-width: 250px !important;
        display: inline-block !important;
    }
    .product-selector-item {
        flex: 1;
        min-width: 85px;
        height: 100%;
        padding: 5px;
        margin: 0;
        border-radius: 0;
        border-right: 1px solid #2d2d2d;
    }
    ion-slide {
        img {
            display: flex;
            max-width: 100%;
            height: auto;
            width: 100%!important;
            max-height: 300px;
        }
    }
}
