<div>

<!-- LIVE SORT -->
  <div class="accordion-list">
    <div class="" no-padding style="border-bottom: 1px solid grey;">
      <button ion-item detail-none [style.background]="headerColor" (click)="toggleAccordion('live');" class="accordion-header"
        [class.active]="expanded['live']">
        <span item-right>{{un.size(liveStarted)}}</span>
        <ion-icon item-right name="ios-arrow-forward">
        </ion-icon>
        Canlı
      </button>
    </div>

    <section *ngIf="expanded['live'] && un.size(liveStarted)" [style.background]="contentColor" [class.active]="expanded['live']"
      class="accordion-content">

      <div *ngFor="let matches of liveStarted.slice(0, limit['live'])" class="">
        <div class="match-item bet-status-{{matches?.betstatus}} bet-active-{{matches?.active}} bet-markets-{{un.size(matches?.markets)}}">
            <div class="dismenu">
                <button color="light" ion-button small (click)="GP.navPush('liveid', matches.matchid)">+ {{matches?.market_total}}</button>
            </div>
          <div class="row">
            <div class="col-md-4 br-1" (click)="GP.navPush('liveid', matches.matchid)">

              <div class="row">
                <div class="col-md-12">
                  <ion-note class="">
                    <span class="note-title">{{matches?.category_id | langsFilter:1}} / {{matches?.tournament_id | langsFilter:2}}</span>

                  </ion-note>
                </div>
                <div class="col-md-12 match-details">
                  <div class="mt-5 row">
                    <div class="col-9">
                      <h4 class="team-title">{{matches.teams?.home | langsFilter:5}}</h4>
                    </div>
                    <div class="col-3">
                      <h4 class="team-score">{{matches?.score.split(':')[0]}}</h4>
                    </div>
                  </div>
                  <div class="mt-5 row">
                    <div class="col-9">
                      <h4 class="team-title">{{matches.teams?.away | langsFilter:5}}</h4>
                    </div>
                    <div class="col-3">
                      <h4 class="team-score">{{matches?.score.split(':')[1]}}</h4>
                    </div>
                  </div>
                </div>
              </div>


              <ion-note class="">Canlı {{matches?.matchtime}} dk. {{matches?.status | langsFilter:6}}
                <span style="font-weight:600;float: right;color: green;padding-right:5px;">Score: {{matches?.score}} </span>
                <span hidden>{{matches?.msgnr}} - {{matches?.betstatus}} - {{matches?.active}}</span>
              </ion-note>

            </div>

            <div class="market-list col-md-8">
              <div class="row">
                <div class="market-item col-md-4 col-xs-12 br-1" *ngFor="let market of (matches?.markets|getLiveData:'market:filter':matches?.sport_id); let i = index">
                  <ng-container>

                    <div class="note-title">
                      <span class="market-name">{{market?.typeid | langsFilter:3:'live':market?.subtype}}</span>

                      <span class="coupon-chance">{{market?.active}}/{{market?.typeid}},{{market?.subtype}}/{{market?.sbv}} </span>
                    </div>

                    <div class="row odds-list market-active-{{market?.active}}">
                      <div class="col-4 col-md-4 odd-item" [class.col-md-6]="un.size(market?.odds) == 2" *ngFor="let odd of market?.odds">
                        <div role="button" (click)="ACP?.bakBanaCoupon(matches, market?.id, odd, 1)" class="live odds-up font-12">
                          <div class="">
                            <span class="odd-title selection" [class.active]="state.CCT[market.id]?.odd.type == odd.type">
                              {{odd['typeid'] | langsFilter:4:'live'}}
                            </span>
                            <div class="odds-value">
                              <span  class="{{updated[market.id + odd.typeid] ? odd?.action : ''}}">
                                {{odd.value}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>


                </div>
              </div>

            </div>

            <button hidden (click)="GP.navPush('liveid', matches.matchid)" ion-button full outline color="light" default>Tüm Oranlar
              <span end> {{un.size(matches?.markets)}} + {{matches?.market_total}} </span>
            </button>


          </div>
        </div>
      </div>
      <button *ngIf="liveStarted.length > limit['live']" (click)="limit['live'] = limit['live'] + 10" ion-button full outline color="dark"
        default>
        <span end> Daha Fazla Göster + {{liveStarted.length - limit['live']}} </span>
      </button>

    </section>

  </div>




<!-- DATES SORT -->
  <div *ngFor="let dates of un.values(upcomingsList) let i = index" class="accordion-list">
    <div class="" no-padding *ngIf="dates[0].eventDay >= state.DTS?.day && dates[0].eventDay < state.DTS?.day + 10" style="border-bottom: 1px solid grey;">
      <button ion-item detail-none [style.background]="headerColor" (click)="toggleAccordion(i);" class="accordion-header" [class.active]="expanded[i]">
        <span item-right>{{un.size(dates)}}</span>
        <ion-icon item-right name="ios-arrow-forward">
        </ion-icon>
        {{ dates[0].eventDay != state.DTS?.day ? (dates[0].eventdate * 1000 | date : 'EEEE d MMMM') : 'Bugün Başlayacak' }}
      </button>

    </div>


    <section *ngIf="expanded[i] && dates" [style.background]="contentColor" [class.active]="expanded[i]" class="accordion-content">

      <div *ngFor="let matches of dates.slice(0, limit[i])" class="">
        <div class="match-item bet-status-{{matches?.betstatus}} bet-active-{{matches?.active}}">
            <div class="dismenu">
                <button color="light" ion-button small (click)="GP.navPush('preid', matches.matchid)">+ {{matches?.market_total}}</button>
            </div>
          <div class="row">

            <div class="col-md-4 br-1"  (click)="GP.navPush('preid', matches.matchid)">

              <div class="row">
                <div class="col-md-12">
                  <ion-note class="">
                    <span class="note-title">{{matches?.category_id | langsFilter:1}} / {{matches?.tournament_id | langsFilter:2}}</span>

                  </ion-note>
                </div>
                <div class="col-md-12">
                  <div class="mt-5 row">
                    <div class="col-9">
                      <h4 class="team-title">{{matches.teams?.home | langsFilter:5}}</h4>
                    </div>
                    <div class="col-3">
                      <h4 class="team-score">{{matches?.score.split(':')[0]}}</h4>
                    </div>
                  </div>
                  <div class="mt-5 row">
                    <div class="col-9">
                      <h4 class="team-title">{{matches.teams?.away | langsFilter:5}}</h4>
                    </div>
                    <div class="col-3">
                      <h4 class="team-score">{{matches?.score.split(':')[1]}}</h4>
                    </div>
                  </div>
                </div>
              </div>


              <ion-note class="">Canlı {{matches?.matchtime}} dk. {{matches?.status | langsFilter:6}}
                <span style="font-weight:600;float: right;color: green;padding-right:5px;">Score: {{matches?.score}} </span>
                <span hidden>{{matches?.msgnr}} - {{matches?.betstatus}} - {{matches?.active}}</span>
              </ion-note>

            </div>

            <div class="market-list col-md-8 col-xs-12">
              <div class="row">
                <div class="market-item col-md-6 col-xs-12 br-1" *ngFor="let market of (matches?.markets|getLiveData:'market:filter'); let i = index">
                  <ng-container *ngIf="un.size(market?.odds) < 4">

                    <div class="note-title">
                      <span class="market-name">{{matches?.sport_id}} - / {{market?.typeid | langsFilter:3:'prematch':market?.subtype}}</span>

                      <span class="coupon-chance">{{market?.active}}/{{market?.typeid}},{{market?.subtype}}/{{market?.sbv}} </span>


                    </div>

                    <div class="row odds-list market-active-{{market?.active}}">

                      <div class="col-4 odd-item" [class.col-6]="un.size(market?.odds) == 2" *ngFor="let odd of market?.odds">
                        <div role="button" (click)="ACP?.bakBanaCoupon(matches, market?.id, odd, 0)" class="live odds-up font-12">
                          <div class="">
                            <span class="odd-title selection" [class.active]="state.CCT[market.id]?.odd.type == odd.type">
                              {{odd['typeid'] | langsFilter:4:'prematch'}}
                            </span>
                            <div class="odds-value">
                              <span class="">
                                {{odd.value}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>


                </div>
              </div>

            </div>
            <button hidden (click)="GP.navPush('liveid', matches.matchid)" ion-button full outline color="light" default>Tüm Oranlar
              <span end> {{un.size(matches?.markets)}} + {{matches?.market_total}} </span>
            </button>


          </div>
        </div>
      </div>
      <button *ngIf="dates.length > limit[i]" (click)="limit[i] = limit[i] + 5" ion-button full outline color="dark" default>
        <span end> Daha Fazla + {{dates.length - limit[i]}} </span>
      </button>

    </section>
  </div>

</div>
