<ion-header>
  <ion-navbar class="soft-black" no-border-bottom>
    <ion-segment [(ngModel)]="firstBar" color="white">
      <ion-segment-button value="one">
        Kupon
      </ion-segment-button>
      <ion-segment-button value="twoo">
        Açık Bahis
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar class="soft-black" *ngIf="firstBar == 'one'" no-border-bottom>
    <ion-segment color="white" [(ngModel)]="secondBar" (ionChange)="changeType($event)">
      <ion-segment-button value="single">
        Tekli
      </ion-segment-button>


      <ion-segment-button value="combine">
        Kombine

      </ion-segment-button>
      <ion-segment-button value="system">
        Sistem
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>


<ion-content padding>



  <div no-line *ngIf="firstBar == 'one'">


    <div *ngIf="secondBar == 'single' || secondBar == 'combine'">
      <div *ngFor="let market of un.values(currentCoupons)">
        <ion-row class="row market-item">
          <ion-col col-12>
            <h6 class="teams-title">{{market?.match?.teams.home.tr}}</h6>
            <h6 class="teams-title">{{market?.match?.teams.away.tr}}</h6>
            <button color="danger" class="remove-button" ion-button icon-only (click)="remove(market.marketid)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <ion-note class="odd-title-label">Bahsiniz</ion-note>
            <h6 class="odd-title">market_lang : odd_lang</h6>
          </ion-col>
          <ion-col col-4 class="pl-10">
            <ion-note class="odd-title-label">Tarih</ion-note>
            <h6 class="odd-value">{{market?.match.eventdate * 1000 | date:'dd/MM/yyyy'}}</h6>
          </ion-col>
          <ion-col col-4 class="pl-10">
            <ion-note class="odd-label">Oran</ion-note>
            <h6 class="odd-value">{{market?.odd.value}}</h6>
          </ion-col>

          <ion-col col-8 *ngIf="secondBar == 'single'" class="pt-15">
            <h6 class="teams-title">Tutar: {{market?.match_amount || 0 | number : '1.2'}} Mu.Kazanç : {{market?.match_amount * market?.odd.value
              | number : '1.2'}}</h6>
          </ion-col>

          <ion-col col-4 *ngIf="secondBar == 'single'">
            <ion-input type="number" pattern="\d*" [attr.data-matchid]="market?.matchid" [attr.data-oddtype]="market?.odd.type" [attr.data-market]="market?.marketid"
              name="priceType" [value]="market?.match_amount || 1" placeholder="Tutar" class="price-input" (keyup)="changeMatchPrice($event)"
              aria-required="true"></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-toolbar>
        <ion-grid>
          <ion-row class="row market-item">
            <ion-col col-12 *ngIf="secondBar == 'single'" class="">
              <ion-row>
                <ion-col col-8 align-self-center>

                  <h6 class="teams-title"> Kupon Bedeli : </h6>

                </ion-col>
                <ion-col col-4 align-self-center>
                  <h5 no-margin>{{getTotalSingle() || 0 | number : '1.2'}}</h5>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-12 *ngIf="secondBar == 'combine'" class="pt-15">
              <ion-row>
                <ion-col col-6 align-self-center>
                  <h6>Muhtemel Kazanç : {{state?.CC.amount * state?.CC.totalodd || 0 | number : '1.2'}} </h6>
                  <h6>Oran : {{state?.CC.totalodd || 0 | number : '1.2'}}</h6>
                  <h6>Kupon Bedeli: {{state?.CC.amount || 0 | number : '1.'}}</h6>
                </ion-col>
                <ion-col col-6 align-self-center>
                  <ion-input type="number" pattern="\d*" placeholder="Tutar" class="price-input" [value]="state?.CC.amount || 3" (keyup)="changeCouponPrice($event)"
                    aria-required="true"></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>
            <button ion-button (click)="ACP.cleanCoupon()" col>Temizle</button>
            <button ion-button color="secondary" (click)="createCouponSend()" col>Gönder</button>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </div>


    <div *ngIf="secondBar == 'system'">
      sistem
    </div>

  </div>
  <ion-item no-line *ngIf="firstBar == 'twoo'">
    açık bahisler
  </ion-item>

</ion-content>