<ion-menu [content]="content" side="left" id="menu-left">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Left Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <sports-menu></sports-menu>
  </ion-content>
</ion-menu>


<ion-header class="root-header">
  <root-menu></root-menu>
</ion-header>


<ion-nav class="root-nav" scroll="false" [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>



<ion-menu [content]="content" side="right" id="menu-right">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Right Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of logoutPages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <button menuClose ion-item *ngFor="let p of userPages" (click)="accountMenu(p.mypageid)">
        {{p.title}}
      </button>

    </ion-list>
  </ion-content>
</ion-menu>
