<!-- Sports -->
<ng-container *ngIf="state.NP.current === 'SportsPage' || state.NP.current === 'spor-bahisleri'">
  <ion-header no-padding>
    <ion-navbar no-padding>
      <ion-title no-padding>Sports</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="list"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <ion-navbar color="dark" class="mb-10">
      <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()" color="white">
        <ion-segment-button value="live">
          Canlı
        </ion-segment-button>
        <ion-segment-button value="prematch">
          Maç Öncesi
        </ion-segment-button>
      </ion-segment>
    </ion-navbar>
  </ion-header>
  <ion-content no-padding>
    <live *ngIf="segment === 'live'"></live>
    <prematch-sports *ngIf="segment === 'prematch'"></prematch-sports>
  </ion-content>
</ng-container>

<!-- Categories -->
<ng-container *ngIf="state.NP['data']?.sportid">
  <ion-header no-padding>
    <ion-navbar no-padding>
      <ion-title *ngIf="state.NP['data']?.sportid" no-padding>{{state.NP.data?.sportid | langsFilter:0:'prematch'}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="list"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <ion-navbar color="dark" class="mb-10">
      <ion-segment color="white" [(ngModel)]="segment" (ionChange)="updateSchedule()">
        <ion-segment-button value="live">
          Canlı & Yakında Başlayacak
        </ion-segment-button>
        <ion-segment-button value="prematch">
          Turnuvalar & Ligler
        </ion-segment-button>
      </ion-segment>
    </ion-navbar>
  </ion-header>
  <ion-content no-padding>
    <live *ngIf="segment === 'live'"></live>
    <prematch-categories *ngIf="segment === 'prematch'" [categoryid]="state.NP['data']?.categoryid"></prematch-categories>
  </ion-content>
</ng-container>

<!-- Tournaments -->
<ng-container *ngIf="state.NP['data']?.categoryid">
  <ion-header no-padding>
    <ion-navbar no-padding>
      <ion-title no-padding>{{state.NP?.data?.categoryid | langsFilter:1}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="list"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content no-padding>
    <prematch-tournaments [categoryid]="state.NP['data']?.categoryid"></prematch-tournaments>
  </ion-content>
</ng-container>




<ng-container *ngIf="state.NP['data']?.preid">
    <pre-detail [preid]="state.NP.data?.preid"></pre-detail>
</ng-container>

<ng-container *ngIf="state.NP['data']?.liveid">
    <live-detail [liveid]="state.NP.data?.liveid"></live-detail>
</ng-container>







<bottom-bar></bottom-bar>
