<ion-list>
    <ion-item *ngFor="let coupon of myCoupons?.data" >
      <ion-avatar item-start>

      </ion-avatar>
      <h2>Kazanç : {{coupon.estimated}}</h2>
      <h3>Yatırım : {{coupon.amount}}</h3>
      <p>ID: {{coupon.coupon_id}} / Status : {{coupon.status_name}}</p>
    </ion-item>
  </ion-list>

  <div>
    Balance: {{wallet?.balance}} <br/>
    Bonus : {{wallet?.bonus}} <br />
    Cash : {{wallet?.cash}} <br />
  </div>
