<ion-header>
  <ion-navbar [hideBackButton]="true">
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{NP?.data?.mypageid}}
    </ion-title>
  </ion-navbar>
</ion-header>




<ion-content class="outer-content" *ngIf="NP?.data.mypageid == 'coupons'">
  <my-coupons></my-coupons>
</ion-content>


<ion-content class="outer-content" *ngIf="NP?.data.mypageid == 'tickets'">
  <tickets></tickets>
</ion-content>
<ion-content class="outer-content" *ngIf="NP?.data.mypageid == 'home'">

  <div padding-top text-center>

    <h2>{{userState?.username}}</h2>
    <ion-list inset>
      <button ion-item>Update Picture</button>
      <button ion-item>Change Username</button>
      <button ion-item>Change Password</button>
      <button ion-item>Support</button>
      <button ion-item>Logout</button>
    </ion-list>
  </div>




</ion-content>
