<div>

  <div *ngFor="let sportid of un.keys(LiveCounts?.sports)" class="accordion-list">
    <div class="" no-padding *ngIf="LiveCounts?.sports[sportid]" style="border-bottom: 1px solid grey;">
      <button ion-item detail-none [style.background]="headerColor" (click)="toggleAccordion(sportid);" class="accordion-header"
        [class.active]="expanded[sportid]">
        <span item-right>{{LiveCounts?.sports[sportid]}}</span>
        <ion-icon item-right name="ios-arrow-forward">
        </ion-icon>
        {{ sportid | langsFilter:0:'prematch' }}
      </button>

    </div>
    <section *ngIf="expanded[sportid] && limit[sportid]" [style.background]="contentColor" [class.active]="expanded[sportid]"
      class="accordion-content">

      <div *ngFor="let matches of liveList[sportid].slice(0, limit[sportid]); let i = index" class="">
        <div class="match-item bet-status-{{matches?.betstatus}} bet-active-{{matches?.active}} bet-markets-{{un.size(matches?.markets)}}">
            <div class="dismenu">
                <button color="light" ion-button small (click)="GP.navPush('liveid', matches.matchid)">+ {{matches?.market_total}}</button>
            </div>
          <div class="row">
            <div class="col-md-4 br-1"  (click)="GP.navPush('liveid', matches.matchid)"  (click)="GP.navPush('liveid', matches.matchid)">

              <div class="row">
                <div class="col-md-12">
                  <ion-note class="">
                    <span class="note-title">{{matches?.category_id | langsFilter:1}} / {{matches?.tournament_id | langsFilter:2}}</span>

                  </ion-note>
                </div>
                <div class="col-md-12   match-details">
                  <div class="mt-5 row">
                    <div class="col-9">
                      <h4 class="team-title">{{matches.teams?.home | langsFilter:5}}</h4>
                    </div>
                    <div class="col-3">
                      <h4 class="team-score">{{matches?.score.split(':')[0]}}</h4>
                    </div>
                  </div>
                  <div class="mt-5 row">
                    <div class="col-9">
                      <h4 class="team-title">{{matches.teams?.away | langsFilter:5}}</h4>
                    </div>
                    <div class="col-3">
                      <h4 class="team-score">{{matches?.score.split(':')[1]}}</h4>
                    </div>
                  </div>
                </div>
              </div>


              <ion-note class="">Canlı {{matches?.matchtime}} dk. {{matches?.status | langsFilter:6}}
                <span style="font-weight:600;float: right;color: green;padding-right:5px;">Score: {{matches?.score}} </span>
                <span hidden>{{matches?.msgnr}} - {{matches?.betstatus}} - {{matches?.active}}</span>
              </ion-note>

            </div>

            <div class="market-list col-md-8">
              <div class="row">
                <div class="market-item col-md-4 col-xs-12 br-1" *ngFor="let market of (matches?.markets|getLiveData:'market:filter':matches?.sport_id); let i = index">
                  <ng-container>

                    <div class="note-title">
                      <span class="market-name">{{market?.typeid | langsFilter:3:'live':market?.subtype}}</span>

                      <span class="coupon-chance">{{market?.active}}/{{market?.typeid}},{{market?.subtype}}/{{market?.sbv}} </span>
                    </div>

                    <div class="row odds-list market-active-{{market?.active}}">
                      <div class="col-4 col-md-4 odd-item" [class.col-md-6]="un.size(market?.odds) == 2" *ngFor="let odd of market?.odds">
                        <div role="button" (click)="ACP?.bakBanaCoupon(matches, market?.id, odd, 1)" class="live odds-up font-12">
                          <div class="">
                            <span class="odd-title selection" [class.active]="state.CCT[market.id]?.odd.type == odd.type">
                              {{odd['typeid'] | langsFilter:4:'live'}}
                            </span>
                            <div class="odds-value">
                              <span class="{{updatedLive[market.id + odd.typeid] ? odd?.action : ''}}">
                                {{odd.value}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>


                </div>
              </div>

            </div>

            <button hidden (click)="GP.navPush('liveid', matches.matchid)" ion-button full outline color="light" default>Tüm Oranlar
              <span end> + {{matches?.market_total}} </span>
            </button>


          </div>
        </div>
      </div>
      <button *ngIf="LiveCounts?.sports[sportid] > limit[sportid] && limit[sportid] < 10" (click)="limit[sportid] = limit[sportid] + 5"
        ion-button full outline color="dark" default>Daha Fazla
        <span end> (+{{LiveCounts?.sports[sportid] - limit[sportid]}}) </span>
      </button>
      <button (click)="GP.navPush('sportid', sportid)" ion-button full outline color="dark" default>Tümü {{sportid | langsFilter:0:'prematch'}}
        <span end> ({{LiveCounts?.sports[sportid]}}) </span>
      </button>

    </section>
  </div>



</div>
