
<live-list *ngIf="!state.NP.data?.sportid" [LiveCounts]="LiveCounts" [liveSports]="liveSports" [liveList]="un.groupBy(liveStarted, 'sport_id')" title="demo accordion" textColor="#FFF" hasMargin="false"
    headerColor="#222" itemType="prematch" [updatedLive]="updated">
</live-list>
<live-inlist *ngIf="state.NP.data?.sportid" [liveStarted]="un.groupBy(liveStarted, 'sport_id')[state.NP.data?.sportid]" title="demo accordion" textColor="#FFF" hasMargin="false"
headerColor="#222" itemType="prematch" [updated]="updated" [upcomingsList]="'upcoming:dates'|getData:'null':state.NP.data | async">
</live-inlist>
